{% extends 'catalog/base_generic.html'%}

{% block content %}
    <h1>Name: {{author.last_name}}, {{author.first_name}}</h1>

    <p>
        {{author.date_of_birth}} - 
                {% if author.date_of_death %} {{author.date_of_death}} 
                {%else%} Alive
                {% endif %}
    </p>

    <div style="margin-left: 20px; margin-top: 30px">
        <h3>Books</h3>

        {% for book in author.book_set.all %}
            <hr>
            <p>
                <a href="{{ book.get_absolute_url }}">{{book.title}}</a>
            </p>
            <p>
                {{book.summary}}
            </p>

        {% endfor %}
    
    
    </div>

{% endblock %}