{% extends 'catalog/base_generic.html' %}

<!--This is replacing the {block title} in the base_generic.html -->
{% block title %}
<title>Local Library Home Page</title>
{% endblock %}

<!--This is replacing the {block content} in the base_generic.html -->
{% block content %}

<h1>Local Library Home</h1>
<p>
    Welcome to the Local Library. This website was developed by <em>Tindi Sommers</em> 
</p>
<h2>Dynamic Content</h2>
<p>The Library has the following books counts:</p>
<ul>
    <li><strong>Books: </strong>{{num_books}}</li>
    <li><strong>Copies: </strong>{{num_instances}}</li>
    <li><strong>Copies Available: </strong>{{num_instances_available}}</li>
    <li><strong>Authors: </strong>{{num_authors}}</li>
    <li><strong>Genre: </strong>{{num_genre}}</li>
    <li><strong>Books with "The": </strong>{{the_books}}</li>
</ul>


{% endblock %}